  <!--start of setting-->
  <div class="p-3 py-5"  >
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="text-right">Change Password </h4>
</div>



  <form (ngSubmit)="changePass()">

  
    <div class="form-group" >
      <label >New Password</label>
      <input type="password" #pass="ngModel" required [(ngModel)]="password" name="password" class="form-control">
      <div class="alert alert-warning" [hidden]="pass.valid || pass.untouched">
          <small *ngIf="pass.errors?.['required']"> required</small>

      </div>
    </div>
    <div class="form-group">
       
      <label >Confirm Password</label>
     

      <input  type="password" required #confirmPass="ngModel" [(ngModel)]="conPass" name="confirmPassword"   class="form-control" validateEqual="password" pattern={{password}}>
      <div class="alert alert-warning" [hidden]="confirmPass.valid || confirmPass.untouched">
          <!-- check if the error required and the pattern-->
          <small *ngIf="confirmPass.errors?.['required']"> required</small>
          <small *ngIf="confirmPass.errors?.['pattern']"> Password Doesn't Match</small>
          </div>
        
    </div>

    <button type="submit" [disabled]="confirmPass.invalid  " class="btn btn-warning">Confirm</button>
  </form>
</div>
<!--end of Change password-->
