
<!DOCTYPE html>
<html>
<head>
<title>SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Custom Theme files -->
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>eBuy SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				
				<form action="#" method="post">
					<input class="text" type="text" min="10" [(ngModel)]="name"  name="Username" placeholder="Full Name" required>


					<input  class="text email" #em="ngModel" required [(ngModel)]="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" type="email" name="email" placeholder="Email" required="">

					<div class="alert w-50 bg-danger" [hidden]="em.valid || em.untouched">
						<h2 *ngIf="em.errors?.['required']"> Email required</h2>
						<h2 *ngIf="em.errors?.['pattern']"> Enter Correct Email Format</h2>
			  
					</div>

					<input class="text" type="password" #pass="ngModel" required [(ngModel)]="password" minlength="6"

					 name="password" placeholder="Password" required="">
					<div class="alert w-50 bg-danger"  [hidden]="pass.valid || pass.untouched">
						<h2 *ngIf="pass.errors?.['required']"> Password required</h2>
						<h2 *ngIf="pass.errors?.['minlength']"> Password must be at least 6 characters</h2>
			  
					</div>

					<input class="text w3lpass" #confirmPassword="ngModel" required [(ngModel)]="confirmPass" type="password" name="password" placeholder="Confirm Password" pattern={{password}}  required>


					<div class="alert w-50 bg-danger" [hidden]="confirmPassword.valid || confirmPassword.untouched">
						<h2 *ngIf="confirmPassword.errors?.['required']">Confirm Password required</h2>
						<h2 *ngIf="confirmPassword.errors?.['pattern']"> Password Doesn't Match </h2>

					</div>


					<!-- <div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div> -->
					<button type="button" (click)="addUser()" class="btn btn-warning w-100 my-3 py-3 font-weight-bold" [disabled]="confirmPassword.invalid || em.invalid" value="SIGNUP"> <h3>SIGN UP</h3>  </button>
				
				</form>
				<p>Don't have an Account? <a routerLink="/login" > Login Now!</a></p>
			</div>
		</div>
		<div class="colorlibcopy-agile">
			<p>© 2023 eBuy <a href="#" target="_blank"> Website</a></p>
		</div>
		
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul> 
	</div>
	<!-- //main -->
</body>
</html>