<div class="container rounded bg-white mt-5 mb-5">
    
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <!--Image-->
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span>
                 <!--email-->
                 <span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
                 <button class="col-md-12" (click)="openProfile()">  Profile  </button>
                 <button class="col-md-12"  (click)="editProfile()"> Edit Profile  </button>

                 <button class="col-md-12">Add Address </button>
        </div>
  
        <div class="col-md-9 border-right">
          <!--Start of the Profile part-->
            <div class="p-3 py-5 " *ngIf="profile" >
              
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile </h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" disabled [value]="user.name"></div>
                  
                </div>
                <div class="row mt-3">
                    <div *ngIf="user.phone" class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" disabled placeholder="enter phone number" [value]="user.phone"></div>
  
                    <div class="col-md-12"><label class="labels">Email </label><input type="text" class="form-control" disabled placeholder="enter email id" [value]="user.email"></div>
                    <!--To be Added-->
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                 
                  
                    
                </div>
              
               
            </div>



            <!--End OF Profile Part-->
            <div class="p-3 py-5"  >
                  <!--start of setting-->
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Edit Profile </h4>
                </div>
                  <form (ngSubmit)="saveProfile()">
                    <div class="form-group">
                        <label >Full Name</label>
                        <input type="name" [(ngModel)]="newName" name="name" class="form-control">
                      </div>
                    <div class="form-group">
                      <label >Email address</label>
                      {{email.errors|json}}
                      <input #email="ngModel"  [(ngModel)]="newEmail" name="email" type="email" class="form-control"  required  >
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->   
                    </div>
                    <div class="form-group">
                      <label >Phone Number</label>
                      <input type="text"[(ngModel)]="newPhone" name="phone" class="form-control">
                    </div>
                  
               
                    <button type="submit" class="btn btn-warning">Save</button>
                  </form>
                  <!--end of setting-->


                  <!--start of Change password-->
                  <div class="p-3 py-5"  >
                    <!--start of setting-->
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4 class="text-right">Change Password </h4>
                  </div>



                    <form (ngSubmit)="changePass()">
              
                    
                      <div class="form-group" >
                        <label >New Password</label>
                        {{pass.errors|json}}
                        <input type="password" #pass="ngModel" required [(ngModel)]="password" name="password" class="form-control">
                        <div class="alert alert-warning" [hidden]="pass.valid || pass.untouched">
                            <small *ngIf="pass.errors?.['required']"> required</small>

                        </div>
                      </div>
                      <div class="form-group">
                         
                        <label >Confirm Password</label>
                        {{confirmPass.errors|json}}

                        <input type="password" #confirmPass="ngModel" [(ngModel)]="conPass" name="confirmPassword"   class="form-control" validateEqual="password" pattern={{password}}>
                        <div class="alert alert-warning" [hidden]="confirmPass.valid || confirmPass.untouched">
                            <!-- check if the error required and the pattern-->
                            <small *ngIf="confirmPass.errors?.['required']"> required</small>
                            <small *ngIf="confirmPass.errors?.['pattern']"> Password Doesn't Match</small>
                            </div>
                          
                      </div>
                 
                      <button type="submit" [disabled]="confirmPass.valid && pass.invalid " class="btn btn-warning">Confirm</button>
                    </form>
                  <!--end of Change password-->
               
                  <div class="p-3 py-5"  >
                    <!--start of setting-->
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4 class="text-right">Delete Account </h4>
                  </div>
                  <button type="button" (click)="delete()" class="btn btn-warning">Delete Account</button>
                  </div>
        
            </div>
        </div>
        
    </div>
</div>

