<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" routerLink="#">Home</a>
        <a class="breadcrumb-item text-dark" routerLink="#">Shop</a>
        <span class="breadcrumb-item active">Shop List</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-4">

      <!-- Price Start -->
      <h5 class="section-title position-relative text-uppercase mb-3">
        <span class="bg-secondary pr-3"> Search for product's name </span>
      </h5>
      <div class="bg-light p-4 mb-30">
        <div class="row">
          <div class="col-12">
            <label for="" class="form-label">Search among all products</label>
            <input
              type="text"
              class="form-control"
        
              #productSearch
            />
          </div>
         
          <div class="col-12">
            <button
              name="priceSearch"
              class="btn btn-primary mt-3 w-100"
              (click)="searchProduct(productSearch.value)"

            >
              SEARCH
            </button>
          </div>
        </div>
      </div>
      <!-- Price End -->

      <!-- Price Start -->
      <h5 class="section-title position-relative text-uppercase mb-3">
        <span class="bg-secondary pr-3">Filter by price</span>
      </h5>
      <div class="bg-light p-4 mb-30">
        <div class="row">
          <div class="col-md-6">
            <label for="" class="form-label">Min. Value</label>
            <input
              type="number"
              class="form-control"
              name="minValue"
              #minValue
              min="0"
              value="0"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">Max. Value</label>
            <input
              type="number"
              class="form-control"
              name="maxValue"
              #maxValue
              min="0"
              value="0"
            />
          </div>
          <div class="col-12">
            <button
              name="priceSearch"
              class="btn btn-primary mt-3 w-100"
              (click)="filterByPrice(minValue.value, maxValue.value)"
            >
              SEARCH
            </button>
          </div>
        </div>
      </div>
      <!-- Price End -->

      <!-- Rating Start -->
      <h5 class="section-title position-relative text-uppercase mb-3">
        <span class="bg-secondary pr-3">Filter by Ratings</span>
      </h5>
      <div class="bg-light p-4 mb-30">
        <label for="custom-range" class="form-label"
          >Select Rating (1 - 5)
        </label>
        <span #ratingRangeSpan class="d-block">
          {{ ratingRange.value }} <i class="fas fa-star text-primary"> </i> or
          more
        </span>
        <input
          type="range"
          class="custom-range"
          min="0"
          max="5"
          value="0"
          step="0.1"
          #ratingRange
          (change)="(ratingRange.value)"
        />

        <button
          name="ratingSearch"
          class="btn btn-primary mt-3 w-100"
          (click)="filterByRating(ratingRange.value)"
        >
          SEARCH
        </button>
      </div>
      <!-- Rating End -->

      <!-- Size Start -->
      <!-- <h5 class="section-title position-relative text-uppercase mb-3">
        <span class="bg-secondary pr-3">Filter by size</span>
      </h5>
      <div class="bg-light p-4 mb-30">
        <form>
          <div
            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
          >
            <input
              type="checkbox"
              class="custom-control-input"
              checked
              id="size-all"
            />
            <label class="custom-control-label" for="size-all">All Size</label>
            <span class="badge border font-weight-normal">1000</span>
          </div>
          <div
            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
          >
            <input type="checkbox" class="custom-control-input" id="size-1" />
            <label class="custom-control-label" for="size-1">XS</label>
            <span class="badge border font-weight-normal">150</span>
          </div>
          <div
            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
          >
            <input type="checkbox" class="custom-control-input" id="size-2" />
            <label class="custom-control-label" for="size-2">S</label>
            <span class="badge border font-weight-normal">295</span>
          </div>
          <div
            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
          >
            <input type="checkbox" class="custom-control-input" id="size-3" />
            <label class="custom-control-label" for="size-3">M</label>
            <span class="badge border font-weight-normal">246</span>
          </div>
          <div
            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
          >
            <input type="checkbox" class="custom-control-input" id="size-4" />
            <label class="custom-control-label" for="size-4">L</label>
            <span class="badge border font-weight-normal">145</span>
          </div>
          <div
            class="custom-control custom-checkbox d-flex align-items-center justify-content-between"
          >
            <input type="checkbox" class="custom-control-input" id="size-5" />
            <label class="custom-control-label" for="size-5">XL</label>
            <span class="badge border font-weight-normal">168</span>
          </div>
        </form>
      </div> -->
      <!-- Size End -->
    </div>
    <!-- Shop Sidebar End -->

    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-8">
      <div class="row pb-3">
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div>
              <button class="btn btn-sm btn-light">
                <i class="fa fa-th-large"></i>
              </button>
              <button class="btn btn-sm btn-light ml-2">
                <i class="fa fa-bars"></i>
              </button>
            </div>
            <div class="ml-2">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-sm btn-light dropdown-toggle"
                  data-toggle="dropdown"
                >
                  Categories
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <!-- need to return categories from API -->
                  <a class="dropdown-item" (click)="sortFromHighToLow()">All</a>
                  <span
                    class="dropdown-item"
                    *ngFor="let category of categories"
                    (click)="filterByCategory(category.name)"
                  >
                    {{ category.name }}
                  </span>
                </div>
              </div>
              <div class="btn-group ml-2">
                <button
                  type="button"
                  class="btn btn-sm btn-light dropdown-toggle"
                  data-toggle="dropdown"
                >
                  SortBy
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <span class="dropdown-item" (click)="sortFromLowToHigh()">
                    From Low to High ↘️
                  </span>
                  <span class="dropdown-item" (click)="sortFromHighToLow()">
                    From High to Low ↗️
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div [hidden]="!(products.length === 0)" class="col-12 text-center">
          <div class="img-container mx-auto">
            <img
              src="../../../../assets/img/noproduct.svg"
              alt="No Product "
              class="img-fluid"
              width="250"
              height="250"
            />
          </div>

          <h1>NO PRODUCTS FOUND</h1>
        </div>

        <div
          class="col-lg-4 col-md-6 col-sm-6 pb-1"
          *ngFor="
            let item of products 
              | slice : (page - 1) * pageSize : page * pageSize
          "
        >

          <div class="product-item bg-light mb-4">
            <div class="product-img position-relative overflow-hidden">
              <img
                class="img-fluid w-100"
                src ="../../../../assets/img/product-1.jpg" 

              
                alt=""
              />
              <div class="product-action">
                
                <a (click)="addToWishList(item._id)" class="btn btn-outline-dark btn-square" routerLink=""
                  ><i class="far fa-heart"></i
                ></a>

                <a class="btn btn-outline-dark btn-square" routerLink="" (click)="productDetails(item._id)"
                  ><i class="fa fa-search"></i
                ></a>
              </div>
            </div>

            <div class="text-center py-4">
              <a class="h6 text-decoration-none text-truncate" routerLink="">
                {{ item.title.slice(0, 20) }}...
              </a>
              <div
                class="d-flex align-items-center justify-content-center mt-2"
              >
                <h5>${{ item.priceAfterDiscount }}</h5>
                <h6 class="text-muted ml-2">
                  <del>${{ item.price }}</del>
                </h6>
              </div>
              <div
                class="d-flex align-items-center justify-content-center mb-1"
              >
                <!-- display stars according to rating -->
                <!-- <span *ngFor="let star of [1, 2, 3, 4, 5]">
                  <i class="fa"
                    [class]="star <= item.ratingsAverage ? ' fa-star' : ' bi bi-star'"
                  ></i>
                </span> -->
                <!-- <ngb-rating rating="item.ratingsAverage" [max]="5" [(rate)]=item.ratingsAverage [readonly]="true"> </ngb-rating> -->

                <!-- <span *ngFor="let star of [1,2,3,4,5]">
                  <span class="bi" [ngClass]="{
                    'bi-star-fill': star <= math.floor(item.ratingsAverage),
                    
                    'bi-star': star > item.ratingsAverage,
                    'text-primary': star <= math.floor(item.ratingsAverage),
                    'text-muted': star > item.ratingsAverage,
                    
                    'bi-star-half': star && item.ratingsAverage / 10  
                  }"></span>
                </span> -->
                <div>
                  <ng-template #stars let-fill="fill">
                    <i class="bi-star-fill stars-rating">
                      <i
                        *ngIf="fill > 0"
                        class="bi-star-fill filled"
                        [style.width.%]="fill"
                      ></i>
                    </i>
                  </ng-template>
                </div>

                <ngb-rating
                  [(rate)]="item.ratingsAverage"
                  [starTemplate]="stars"
                  [readonly]="true"
                  [max]="5"
                ></ngb-rating>

                <br />
              </div>
              <div class="mt-3">
                <h6>({{ item.ratingsQuantity }}) People rate this</h6>
              </div>
            </div>
          </div>
        </div>

        <!--  
<ngb-pagination>
</ngb-pagination>-->

        <!-- 
                 <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="productsLength"></ngb-pagination>  -->

        <!-- <div class="col-12">
                    <nav>
                      <ul class="pagination justify-content-center">
                        <li class="page-item disabled"><a class="page-link" routerLink="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" routerLink="#">1</a></li>
                        <li class="page-item"><a class="page-link" routerLink="#">2</a></li>
                        <li class="page-item"><a class="page-link" routerLink="#">3</a></li>
                        <li class="page-item"><a class="page-link" routerLink="#">Next</a></li>
                      </ul>
                    </nav>
                </div> -->
        <div class="col-12 w-100">
          <nav>
            <ngb-pagination
              [(page)]="page"
              [pageSize]="pageSize"
              [collectionSize]="products.length"
              (pageChange)="getProduct()"
            ></ngb-pagination>
            <!-- <ngb-pagination>
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="productsLength"
    </ngb-pagination> -->
          </nav>
        </div>
      </div>
    </div>
    <!-- Shop Product End -->
  </div>
</div>
<!-- Shop End -->
