/* You can add global styles to this file, and also import other style files */

*{
    padding: 0;
    margin: 0;
}

.page-item.active .page-link{
    background-color: #FFD333 !important;
    border-color: #FFD333 !important;
  }
  .visually-hidden{
    display: none;
  }